{% load static %}

<!-- footer start -->

  
<div id="footer">
    <div class="foot-panel1"><a href="#home">Back to top</a></div>
    <div class="foot-panel2">
        <ul>
            <p>Get to Know Us</p>
  
            <a>careers</a>
            <br>
            <a>About DreamSpace</a>
            <br>
            <a>Portpholio</a>
            <br>
            <a>DreamSpace Services</a>
  
        </ul>
  
        <ul>
            <p>Connect with Us</p>
            <a>Facebook</a>
            <br>
            <a>Twitter</a>
            <br>
            <a>Instagram</a>
           
  
        </ul>
        <ul>
            <p>Make Money with Us</p>
            <a>Built with DreamSpace</a>
            <br>
            <a>Fullfillment by DreamSpace </a>
            <br>
            <a>Protect and Build Your Home </a>
            <br>
            <a> DreamSpace Pay on Merchants</a>
        </ul>
  </div>
  
  
  </div>
  
  
  <!-- footer end -->