{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/interior.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="shortcut icon" href="{% static 'img/dreamspace.jpg'%}" type="image/jpg">
<link rel="stylesheet" href="{% static '/css/interior.css' %}">



  <title>Interior Website</title>
</head>

<body >

  <!-- Header section start -->
 


        <nav class="navbar">
          <div class="logo"><a href="#">DreamSpace</a></div>
          <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#footer">About Us</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
          
      
       
            
          <div class="search-login">
            <li> <form class="d-flex w-10" action="{% url 'search' %}">
              <input class="form-control me-2 w-15 " type="search" placeholder="Search" aria-label="Search" name="keyword">
               <button class="btn btn-outline-success " type="submit">Search</button>
              </form></li>


              {% if request.user.first_name %}  
              <a class="btn btn-dark" href="{% url 'login'%}" role="button">{{request.user.first_name}}</a>
              <a class="btn btn-dark" href="{% url 'logout'%}" role="button">Logout</a>
               
              
              {% else %}

              <a class="btn btn-dark" href="{% url 'login'%}" role="button">Login</a>
              <a class="btn btn-dark" href="{% url 'register' %}" role="button" id="button">Register</a>
              
            
              {% endif %}

          </div>

          <a href="{% url 'cart' %}">  <div class="notification">
            <i class="fas fa-shopping-bag icon"></i>
            {% if count %}
            <div class="badge">{{count}}</div>
        </div></a>
        {% endif %} 
          </ul>
    
        </nav>
      
        <!-- Hero Section -->
        <header id="hero">
          <div class="hero-text">
            <h1>Transforming spaces, creating memories.
              <br><span id="txt">
                Your dream interior, our expert touch.
              </span>
            </h1>
        
          </div>
        </header>









  <!-- quote section start -->

  <div class="lg">
    <div class="img1"><img src="{% static '/img/home hand.png'%}" alt="">
      <p>We 'know' Your Home</p>
    </div>
    <div class="img2"><img src="{% static '/img/best work.png' %}" alt="">
      <p>We Only Work With The Best</p>
    </div>
    <div class="img3"><img src="{% static '/img/promise.png'%}" alt="">
      <p>We Promise a Hassle-free Experience</p>
    </div>

  </div>
  <br>
  <br>


<!-- quote end -->


<!--home design crave start -->


  <div class="container">
    <div class="box"><span>The home design you crave</span> </div>

    <p>When you give your home the Livspace touch, you get both beauty and functionality.
      <br>
      We employ state-of-the-art technology to ensure your home features a flawless look that lasts
      <br>
      a very long time.
    </p>
    <a href="{% url 'book_consultation' %}"><button class="btn-1">BOOK FREE CONUSLATANT</button></a>

  </div>

<!--home design crave end -->










  <!-- home style start -->


  <div class="project">
    <p id="p1">Homes for every style</p>
    <p id="p2">Superior finishes, trendy designs and quality modules at affordable prices.</p>
    <br>
    <div class="photo">
      <div class="photo1"><img src="{% static '/img/monochromatic.jpg'%}" alt="">
        <p>Monochromatic Lavish 3BHK</p>
      </div>

      <div class="photo2"><img src="{% static '/img/royal kitchen.jpg'%}" alt="">
        <p>Royal & Elegant Kitchen</p>
      </div>

      <div class="photo3"><img src="{% static '/img/contemporary.jpg'%}" alt="">
        <p>Contemporary & Classy 4BHK</p>
      </div>

    </div>
  </div>
  

  <!-- home style end -->











<!-- guide for interior  start-->

    <div class="guide">
      <div class="card">
        <!-- <img class="c1" src="{% static '/img/drawing room.webp'%}" alt=""> -->
         
        <video width="600" height="330" controls>
          <source src="{% static '/img/interior design imp.mp4' %}" type="video/mp4" class="c1"> 
</video>


        <div class="para">
          <p><span>Download home interior guide</span>
            <br>
            Don't forget to consider these fundamental design
            guidelines to know before you start interior designing!
          </p>
          <a href="{% url 'download-pdf' %}"><button class="bt">Download Now</button></a>
        </div>
      </div>
    </div>

    <br>
    
    <main class="categories">
      <p id="text-shop">Shop By category</p>
      <div class="category">
        <img src="{% static '/img/sofa-3.jpg'%}" alt="">
        <a href="{% url 'category-detail' slug='sofa' %}"><button>Sofa</button></a>
      </div>
      <div class="category">
        <img src="{% static '/img/chair-1.jpg'%}" alt="">
        <a href="{% url 'category-detail' slug='chair' %}"><button>Chair</button></a>
      </div>
      <div class="category">
        <img src="{% static '/img/teapoy.jpg'%}" alt="">
        <a href="{% url 'category-detail' slug='table' %}"><button>Table</button></a>
      </div>
      <div class="category">
        <img src="{% static '/img/candle holder.jpg'%}" alt="">
        <a href="{% url 'category-detail' slug='candle' %}"><button>Candle</button></a>
      </div>

    </div>
    </main>
    <!--  -->

    <div class="pn">

      <div class="numb">
        <h2>Let our numbers do the talking!</h2>
      </div>




      <div class="pn1">
        <div class="n1"><span id="">75000</span> <span>
            + </span></div>
        <p class="viBS"> LivespaceHome</p>
      </div>

      <div class="pn2">
        <div class="n1"><span id="">3500</span> <span> +
          </span></div>
        <p class="viBS"> Designers</p>
      </div>


      <div class="pn3">
        <div class="n1"><span id="">40</span> <span>
            + </span></div>
        <p class="viBS"> Cities</p>
      </div>


      <div class="pn4">
        <div class="n1"><span id="">4</span> <span>
          </span></div>
        <p class="viBS"> Countries</p>
      </div>

    </div>

<!-- guide for interior end -->








    <!-- Testimonals of peoples start -->


    <div id="testimonals">
      <div class="testi">
        <p >Testimonals</p>
      </div>

      <div class="rw1">
        <div class="rew"><img src="{% static '/img/catherine.jpeg' %}" alt="" class="i">
          <p class="r">"Our experience with Livspace was pleasurable because of the project managers. The work got done
            before 45 days just the way we wanted it to be."
            <br>

            <span> Catherine </span>
          </p>
        </div>
      </div>

      <div class="rw2">
        <div class="rew"><img src="{% static '/img/alana.jpeg' %}" alt="" class="i">
          <p class="r">"Our experience with Livspace was pleasurable because of the project managers. The work got done
            before 45 days just the way we wanted it to be."
            <br>

            <span> Alana</span>
          </p>
        </div>
      </div>


      <div class="rw3">
        <div class="rew"><img src="{% static '/img/john.jpeg' %}" alt="" class="i">
          <p class="r">"Our experience with Livspace was pleasurable because of the project managers. The work got done
            before 45 days just the way we wanted it to be."
            <br>
            <span> John</span>
          </p>
        </div>
      </div>


    </div>


  </div>

  <!-- Testimonal end -->





  <div class="whatsapp">

    <img src="{% static '/img/whatsapp logo.png' %}" alt="">
    
  </div>



<!-- footer start -->
<div id="footer">
  <div class="foot-panel1"><a href="{% url 'home' %}">Back to top</a></div>
  <div class="foot-panel2">
      <ul>
          <p>Get to Know Us</p>

          <a>careers</a>
          <br>
          <a>About DreamSpace</a>
          <br>
          <a>Portpholio</a>
          <br>
          <a>DreamSpace Services</a>

      </ul>

      <ul>
          <p>Connect with Us</p>
          <a>Facebook</a>
          <br>
          <a>Twitter</a>
          <br>
          <a>Instagram</a>
         

      </ul>
      <ul>
          <p>Make Money with Us</p>
          <a>Built with DreamSpace</a>
          <br>
          <a>Fullfillment by DreamSpace </a>
          <br>
          <a>Protect and Build Your Home </a>
          <br>
          <a> DreamSpace Pay on Merchants</a>
      </ul>
</div>
</div>
</div>





  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
 
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src="{% static 'js/cart.js'%}"></script>

</body>

</html>