{% load static %}


  <!-- Header section start -->
 


  <nav class="navbar">
    <div class="logo">DreamSpace</div>
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#footer">About Us</a></li>
      <li><a href="{% url 'products' %}">Products</a></li>
    
  
    <div class="search-login">
      <li> <form class="d-flex w-10" action="{% url 'search' %}">
        <input class="form-control me-2 w-15 " type="search" placeholder="Search" aria-label="Search" name="keyword">
         <button class="btn btn-outline-success " type="submit">Search</button>
        </form></li>


        {% if request.user.first_name %}
        
              <a class="btn btn-dark" href="{% url 'login'%}" role="button">{{request.user.first_name}}</a>
              <a class="btn btn-dark" href="{% url 'logout'%}" role="button">Logout</a>
              
              
              {% else %}
        
              <a class="btn btn-dark" href="{% url 'login'%}" role="button">Login</a>
              <a class="btn btn-dark" href="{% url 'register' %}" role="button" id="button">Register</a>
              
            
              {% endif %}
    </div>
  </div>
  <a href="{% url 'cart' %}">  <div class="notification">
    <i class="fas fa-shopping-bag icon"></i>
    {% if count %}
    <div class="badge">{{count}}</div>
</div></a>
{% endif %} 

    </ul>

  </nav>

  </header>

  

