{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<h1 class="bg-dark text-white">Cart details</h1>
<h1>Total: {{total}}</h1>
<hr>

{% for cartitem in cartitems %}

      <div class="box-container" style="border: 1px solid rgba(61, 60, 60, 0.247); width: 800px;
      margin-left: 10%; box-shadow: 0px 1px rgba(175, 173, 173, 0.877); ">
      <img src="{{cartitem.products.product_image.url}}" class="img-fluid rounded-start" style="padding: 20px; width:320px ; height:250px ;">
    
    <div class="col-md-8" style="display: inline;">
      <div class="card-body" style="float:right; margin-right:20%">
        <h2 class="card-title">{{cartitem.products}}</h2>
        <h4 class="card-text">Quantity: {{cartitem.quantity}}</h4>
        <h4 class="card-text"><small class="text-muted">$ {{cartitem.products.product_price}}</small></4>
        <h5 class="card-text">Quantity: {{cartitem.products.product_description}}</h5>
        <br>
        <form action="{% url 'update-cart' cartitem.id %}" class="fs-5" >
          <button type="button"  onclick="updateQuantity(-1,{{cartitem.id}})">-</button>
          <input type="number"name="quantity" id="quantity{{cartitem.id}}" value="{{cartitem.quantity}}" min="1"
            max="10">
          <button type="button" onclick="updateQuantity(+1,{{cartitem.id}})">+</button>
          <br>
          <input class="btn btn-primary" type="submit" value="update cart">
          <a class="btn btn-danger" href="{% url 'delete-cartitem' cartitem.id %}" role="button" >Delete</a>
        </form>
     

        
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>

{% endfor %}



  <table class="table" style="width: 800px; margin-left: 20%; ">
    <div class="d-flex justify-content-end" >
    <thead class="table-dark" style="font-size: 15px">
      <tr>
        <th>id</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      {% for cartitem in cartitems %}
      <tr style="font-size: 15px; font-weight: 400;">
        <td>{{cartitem.products.id}}</td>
        <td>{{cartitem.products.product_name}}</td>
        <td>{{cartitem.products.product_price}}</td>
        <td>{{cartitem.quantity}}</td>
        <td>{{cartitem.quantity|multiply:cartitem.products.product_price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </div>
  </table>
<br>
  <a href="{% url 'checkout' %}" type="submit" class="btn btn-info" style="margin-left:40%;">Checkout</a>
  <br>
  <br>



{% endblock %}