 {% extends "base.html" %}



 {% block content %}
 
 
 
 <div class="border border-dark m-5 p-3 fs-5" >
    <h4 class="bg-dark text-white m-3 p-3 text-center "> Order Here </h4>
    <form action="" method="POST">
        {% csrf_token %}

        

        {% for field in form %}

        <div class="mb-3 ">
        
            {{field.label_tag}}
           {{field}}
    
            {% if field.errors %}
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text text-danger">
                    {{field.errors}}
                </span>
            </div>
            {% endif %}
            <div id="emailHelp" class="form-text">{{field.help_text}}</div>


        </div>
        
        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Submit">
    <br>
    <br>
    </form>
 </div>
 
 
 {% endblock content %}